# Configuración de la aplicación
NODE_ENV=development
PORT=3001

# Configuración de la base de datos
DB_URL=postgres://postgres:123@localhost:5432/seguimiento_db
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=123
DB_DATABASE=seguimiento_db

# Configuración de JWT (si la usas en el futuro)
JWT_SECRET=your-super-secret-jwt-key-here
JWT_EXPIRES_IN=7d

# Configuración de logs
LOG_LEVEL=debug

# Servicio N8N
N8N_WEBHOOK_URL=https://a19e431b4e3d.ngrok-free.app
N8N_API_KEY=your-n8n-api-key-here

# Servicio IA
IA_SERVICE_URL=http://host.docker.internal:8000